-c requirements.txt
# NOTE: factory_boy version pinned because redirect.factories.UniqueFaker uses factory_boy internals.
# Future versions might break the code (or replace it with a built-in solution).
factory_boy==3.3.1
pip-tools
pytest
pytest-cov
pytest-django
pytest-factoryboy
